~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Green Products Shop~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

             ~~~Java Web Application used to sell solar power products and provide technical consultancy~~~

~One window for login and register for all accounts (admin and client):
  The first user will be an admin, and he will give roles to the rest of the new users.
     -allows a user to create a new account(email, password, confirm password),
     -allows a user to login on application(email, password).

~One window for admin to make CRUD operations on products:
     -allows an admin to create a new product,
     -allows an admin to view all products,
     -allows an admin to update a product,
     -allows an admin to delete a product.

~One window for admin to make view and delete operations on orders:
     -allows an admin to view all orders,
     -allow an admin to view an order by id,
     -allows an admin to delete an order.

~One window for client:
     -allows a client to view all products,
     -allows a client to add a products in his basket,
     -allows a client to view his basket and delete products from his basket,
     -allows a client to make an order.


~Window for login and register for all accounts (admin and client):
   Implement register:
As a user I should be able to create a personal account(admin or client account) with the following details:
email as username, password and repeat password(it is mandatory that passwords be the same).
The first user will be default an admin. If the register process is successful the
system will allocate a unique id to the new user.
   The system will validate the following data:
     -email to be not blank, not empty and not allocated to another user
     -password to be not blank, not empty and larger than 8 characters
     -repeat password is mandatory be the same as the password

   Implement login:
As a user I should be able to log in into my account. The following details are mandatory to login: email and password.
If the login details don’t match to an existent account, a message will be displayed. If the login details match an
existing account then the user will be redirected to the home page.
   The system will validate the following data:
     -email as username,
     -password


~One window for admin to make CRUD operations on products:

   Implement product creation:
As an admin I should be able to add a new product with the following details: id, name, price,
description, specification. If the creation process is successful, the system will allocate a unique id to the new product.
   The system will validate the following data:
     -name to be not blank and not empty,
     -price to be not blank, not empty, higher than 0 and not be negative,
     -description to be not blank and not empty,
     -specification to be not blank and not empty.

   Implement view all products:
As an admin I should be able to view all the existing products. I should be able to view a list where each line
will contain details about products(id, name, price).

   Implement update product:
As an admin I should be able to update the details of an existing product. If the product is found by id in the system,
I should be able to update the following data:
     -name,
     -price,
     -description,
     -specification.
   The system will validate the following data:
     -name to be not blank and not empty,
     -price to be not blank, not empty, higher than 0 and not be negative,
     -description to be not blank and not empty,
     -specification to be not bland and not empty.

   Implement delete product:
As an admin I should be able to delete an existing product by id from the system. If the given id is found
in the system the product will be deleted and a message will be shown on the screen. If the given id is not found
in the system an appropriate error message will be shown on the screen.


~One window for admin to make view and delete operations on orders:
   Implement view all orders:
As an admin I should be able to view all the existing orders. I should be able to view a list where each line
will contain details about orders(id, products, quantity and price).

   Implement view order by id:
As an admin I should be able to view all the details of an existing order by id. If the given id is found
in the system, the following details will be shown on the screen: id, products, quantity and price.
If the given id is not found in the system, an error message will be shown on the screen.

   Implement delete order:
As an admin I should be able to delete an existing order by id from the system. If the given id is found
in the system the order will be deleted and a message will be shown on the screen. If the given id is not found
in the system an appropriate error message will be shown on the screen.


~One window for client:
As a client I should be able to view all the products the shop has.
As a client I should be able to add a product in my cart.
As a client I should be able to create a personal shopping cart by adding products, to delete a product
from my basket, to update the cart and to make an order.



































