~~~~~~~~~~~~~~~~Java Web Application used to sell solar power products and provide technical consultancy~~~~~~~~~~~~~~~~

~One window for login and register for all accounts (admin and client).

~One window for admin to make CRUD operations on products
     -view all products,
     -adding a new product,
     -deleting a product,
     -updating a product

~One window for admin to make view and delete operations on orders:
     -view all orders,
     -view order by id,
     -deleting an order,

~One window for client:
     -view all products,
     -add products to cart,
     -make orders,
     -make CRUD operations on basket


A java application that develops an online shop where the customer can purchase solar panels and all the accessories
he needs for a complete solar power generation system. Another functionality of the application is to provide
custom advice according to the customer's needs and budget.
The application will have:
-a window where the customer or admin can create a new account and login.
-a window where the admin can make CRUD operations on products
-a window where the admin can view and delete orders
-a window for the customer where he can see all products, add a product to the shopping cart, place orders
and make CRUD operations on the shopping cart.
-a window where the client receives custom consultancy on the products required, according to needs and budget
