<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css"></head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-xl-5 mx-auto">
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You've successfully added a new product!
                </div>
            </div>

            <h1>Create new product</h1>


                <form th:action="@{/add-product}" th:object="${product}" method="post">


                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                        <label for="name" class="control-label">Name</label> <input
                            id="name" class="form-control" th:field="*{name}"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('name')}" th:text="${error}">Validation
                            error</p>
                    </div>


                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('model')}? 'has-error':''">
                        <label for="model" class="control-label">Model</label> <input
                            id="model" class="form-control" th:field="*{model}"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('model')}" th:text="${error}">Validation
                            error</p>
                    </div>

                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('category')}? 'has-error':''">
                        <label for="category" class="control-label">Category</label>
                        <select class="form-control input-lg" name="category" autofocus="true" id="category"
                                th:field="*{category}">
                            <option th:each="opt:${T(com.sda.onlineshop.solarpanelsshop.model.constant.ProductCategory).values()}"
                                    th:text="${opt.name()}" th:value="${opt}">

                            </option>

                        </select>
                    </div>


                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('description')}? 'has-error':''">
                        <label for="description" class="control-label">Description</label> <input
                            id="description" class="form-control" th:field="*{description}"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('description')}" th:text="${error}">Validation
                            error</p>
                    </div>

                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('price')}? 'has-error':''">
                        <label for="price" class="control-label">Price</label> <input
                            id="price" class="form-control" th:field="*{price}"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('price')}" th:text="${error}">Validation
                            error</p>
                    </div>


                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('promoPrice')}? 'has-error':''">
                        <label for="promoPrice" class="control-label">Promo price</label> <input
                            id="promoPrice" class="form-control" th:field="*{promoPrice}"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('promoPrice')}" th:text="${error}">Validation
                            error</p>
                    </div>


                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('mainImageURL')}? 'has-error':''">
                        <label for="mainImageURL" class="control-label">Main image URL</label> <input
                            id="mainImageURL" class="form-control" th:field="*{mainImageURL}"/>
                        <p class="error-message"
                           th:each="error : ${#fields.errors('mainImageURL')}" th:text="${error}">Validation
                            error</p>
                    </div>


                    <div class="d-grid mb-2">
                        <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">
                            Create
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</div>

</body>

<div th:replace="fragments/footer :: footer"></div>

</html>


